@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Ui Page Metadata Type</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageMetadataType" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="UiPageTypeId" class="form-label"></label>
                    <select class="form-input " name="UiPageTypeId" id="uipageonType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageTypeId">

                        @foreach (var item in ViewBag.Page)
                        {
                            if (@item.Id == @ViewBag.pid)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="UiControlTypeId" class="form-label"></label>
                    <select class="form-input " name="UiControlTypeId" id="uiconType" onchange="this.setAttribute('value',this.value)" asp-for="UiControlTypeId">

                        @foreach (var item in ViewBag.Control)
                        {
                            if (@item.Id == @ViewBag.cid)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="DataTypeId" class="form-label"></label>
                    <select class="form-input" name="DataTypeId" id="uidataType" onchange="this.setAttribute('value',this.value)" asp-for="DataTypeId">

                        @foreach (var item in ViewBag.Data)
                        {
                            if (@item.Id == @ViewBag.did)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsRequired" /> @Html.DisplayNameFor(model => model.IsRequired)
                        </label>
                    </div>
                </div>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                    <input class="form-input width-full" type="text" id="UiControlDisplayName" name="UiControlDisplayName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="UiControlDisplayName">
                    <label class="form-label" for="UiControlDisplayName">UiControlDisplayName</label>
                </div>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                    <input type="submit" value="Save" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
