@model TestingAndCalibrationLabs.Web.UI.Models.UiPageValidationDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Ui Page Validation</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" _lpchecked="1" class="mb-2" id="valForm" method="post" asp-controller="UiPageValidation" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <label for="UiPageTypeId" class="form-label"></label>
                    <select class="form-input " name="UiPageTypeId" id="uipageonType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageTypeId">
                        
                        @foreach (var item in ViewBag.UiPageTypes)
                        {
                            if (@item.Id == @ViewBag.UiPageTypeId)
                        {
                            <option value=@item.Id selected>@item.Name</option>
                        }
                        else{
                                <option value=@item.Id>@item.Name</option>
                        }
                            
                        }
                    </select>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <label for="UiPageMetadataId" class="form-label"></label>
                    <select class="form-input " name="UiPageMetadataId" id="uimetadataType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageMetadataId">
                       
                        @foreach (var item in ViewBag.UiPageMetadata)
                        {
                            if (@item.Id == @ViewBag.UiPageMetadataId)
                        {
                                <option value=@item.Id selected>@item.UiControlDisplayName</option>
                        }
                        else{
                            <option value=@item.Id>@item.UiControlDisplayName</option>
                        }
                        }
                    </select>
                </div>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <label for="UiPageValidationTypeId" class="form-label"></label>
                    <select class="form-input" name="UiPageValidationTypeId" id="uivalType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageValidationTypeId">
                        
                        @foreach (var item in ViewBag.UiPageValidationTypes)
                        {
                            if (@item.Id == @ViewBag.UiPageValidationTypeId)
                        {
                            <option value=@item.Id selected>@item.Name</option>
                        }
                        else{
                            <option value=@item.Id>@item.Name</option>
                        }
                        }
                    </select>
                </div>
            </div>
           
            <div class="row ms-1 me-1">
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-frm-input">
                    <input type="submit" value="Save" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
