@model IEnumerable<TestingAndCalibrationLabs.Web.UI.Models.TestReportModel>

<div class="border width-full" style="margin:0;padding:0;border-bottom:2px solid !important;">
    <div class="row mb-1">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 mt-2">
            <h2 class="mb-2 ms-1 me-1" style="padding:0px 12px;">Test Details</h2>
        </div>
    </div>

    <div class="table-responsive simple-pagination card shadow border-radius-grid">
        <table id="testDetailsGrid" class="table table-striped display" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>

                    <th>@Html.DisplayNameFor(model => model.Name)</th>

                    <th>@Html.DisplayNameFor(model => model.Client)</th>

                    <th>@Html.DisplayNameFor(model => model.JobId)</th>

                    <th>@Html.DisplayNameFor(model => model.Email)</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Id)</td>
                        <td> @Html.DisplayFor(modelItem => item.Name)</td>
                        <td> @Html.DisplayFor(modelItem => item.Client)</td>
                        <td> @Html.DisplayFor(modelItem => item.JobId)</td>
                        <td> @Html.DisplayFor(modelItem => item.Email)</td>
                        <td>
                            <a asp-controller="TestReport" asp-action="TestReportDownload" id="downloadAction" asp-route-id="@item.Id"><i class='fa fa-cloud-download'></i></a><b>||</b>
                            <a asp-action="sendEmail" id="sendMail" asp-route-id="@item.Id"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--***** Shows the success message for data store*****-->
    @if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
    {
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div class="d-flex justify-content-center fixed-bottom">
            <div class="alert alert-success" role="alert" id="snackbar">
                <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <span><strong>Mail Sent Successfully!!! Thank You</strong></span>
            </div>
        </div>
    }
</div>

<!-- ** BEGIN POP-UP MESSAGE AREA ** -->
<div class="submit-progress hidden" id="TestReport">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Please wait while Saving Data...</label>
</div>
<!-- ** END POP-UP MESSAGE AREA ** -->
   
    <script>
        oTable = $('#testDetailsGrid').DataTable({
            pageLength: 5,
            lengthMenu: [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, 'All'],
        ],
            scrollX: true,
        });
        $('#TestDetailsGridSearch').keyup(function() {
            oTable.search($(this).val()).draw();
        })
    </script>

                
<script>
    function downloadAction(ctl, msg) {
        
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("submit-progress-bg");
        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".submit-progress").removeClass("hidden");
        }, 1);
        $("#downloadAction").val("false");
        $('#testDetailsGrid').click();
        return true;
    }
</scrpit>
<script>
    function sendMail(ctl, msg) {
        
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("submit-progress-bg");
        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".submit-progress").removeClass("hidden");
        }, 1);
        $("#sendMail").val("true");
        $('#testDetailsGrid').click();
        return true;
    }
</script>