@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
<div class="form-group" style="margin-left:40px">
    <label asp-for="@Model.Value.UiControlDisplayName">@Model.Value.UiControlDisplayName</label>
    <textarea id="@Model.Value.UiControlTypeName@Model.Value.Id" title="@Model.Value.UiControlDisplayName" @Model.Value.IsRequired rows="4" cols="50"></textarea>
    <span asp-validation-for="@Model.Value.UiControlDisplayName" class="text-danger"></span>
</div>