@{
}
@model TestingAndCalibrationLabs.Web.UI.Models.RecordsDTO
<h1>Common</h1>
<p>
    <a asp-action="Create" asp-route-id="@Model.UiPageId">Create New</a>
</p>
<div class="table-responsive">
<table class="table table-bordered table-condensed  table-striped table-hover sortable">
    <thead>
        <tr>
            @foreach (var item in Model.Fields)
            {
                <th>
                    @Html.DisplayFor(fieldItem => item.UiControlDisplayName)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FieldValues)
        {
            <tr>
                @foreach (var itemValue in item.Value)
                {
                    <td>
                        @Html.DisplayFor(modelItem => itemValue.Value)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>