@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
<div class="col-lg-6 col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-input">
        <select class="form-input width-full" name="@Model.Value.UiControlTypeName@Model.Value.Id" id="@Model.Value.UiControlTypeName" placeholder="DisplayName" onchange="this.setAttribute('value',this.value)">
        @foreach (var item in Model.Children)
            {
                <option value="@item.Value.UiControlDisplayName">@item.Value.UiControlDisplayName</option>
            }
        </select>
    <label for="testing" class="form-label">@Model.Value.UiControlDisplayName</label>
    </div>