@model TestingAndCalibrationLabs.Business.Core.Model.UiPageMetadataModel
<div class="row ms-1 me-1">
    <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
        <input class="form-input width-full" type="text" id="@Model.Id" name="@Model.UiControlDisplayName" placeholder=" " onchange="this.setAttribute('value',this.value)"  >
        <label class="form-label" for="@Model.UiControlDisplayName">@Model.UiControlDisplayName</label>
        <span asp-validation-for="@Model.UiControlDisplayName" class="text-danger"></span>
    </div>
</div>