@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataModuleBridgeDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>UiPageMetadataCharacteristics</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" _lpchecked="1" class="mb-2" id="valForm" method="post" asp-controller="UiPageMetadataModuleBridge" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">

                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <select class="form-input width-full black-border" name="UiPageTypeId" id="UiPageType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageTypeId">

                        @foreach (var item in ViewBag.PageList)
                        {
                            if (@item.Id == @ViewBag.UiPageTypeId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                    <label for="UiPageTypeId" class="form-label">
                        UiPageTypeName
                    </label>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <select class="form-input width-full black-border " name="UiPageMetadataId" id="UiPageMetadata" onchange="this.setAttribute('value',this.value)" asp-for="UiPageMetadataId">

                        @foreach (var item in ViewBag.PageMetadata)
                        {
                            if (@item.Id == @ViewBag.UiPageMetadataId)
                            {
                                <option value=@item.Id selected>@item.UiControlDisplayName</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.UiControlDisplayName</option>
                            }
                        }
                    </select>
                    <label for="UiPageMetadataId" class="form-label">
                        UiPageMetadataName
                    </label>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <select class="form-input width-full black-border " name="ModuleId" id="Module" onchange="this.setAttribute('value',this.value)" asp-for="ModuleId">

                        @foreach (var item in ViewBag.ModuleName)
                        {
                            if (@item.Id == @ViewBag.ModuleId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                    <label for="ModuleId" class="form-label">
                        ModuleName
                    </label>
                </div>
               @* <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <label for="MultiValueControl" class="form-label"></label>
                    <select class="form-input" name="MultiValueControl" id="MultiValueControl" onchange="this.setAttribute('value',this.value)" asp-for="MultiValueControl">
                        <option disabled="disabled" selected>Select MultiValueControl ...</option>
                        <option value="1">True</option>
                        <option value="0">False</option>
                       
                    </select>
                </div>*@
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <select class="form-input width-full black-border" name="MultiValueControl" id="MultiValueControl" onchange="this.setAttribute('value',this.value)" asp-for="MultiValueControl" asp-items="@ViewBag.MultiValueControl">
                        <option disabled="disabled" selected>....</option>
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select>
                    <label for="MultiValueControl" class="form-label">
                        MultiValueControl
                    </label>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control " style="padding-left:10px; padding-bottom:5px;">
                <input class="form-input width-full black-border" type="text" id="ParentId" name="ParentId" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="ParentId">
                <label class="form-label" for="ParentId">ParentId</label>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control " style="padding-left:10px; padding-bottom:5px;">
                <input class="form-input width-full black-border" type="text" id="Orders" name="Orders" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Orders">
                <label class="form-label" for="Orders">Orders</label>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control " style="padding-left:10px; padding-bottom:5px;">
                <input class="form-input width-full black-border" type="text" id="UiControlDisplayName" name="UiControlDisplayName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="UiControlDisplayName">
                <label class="form-label" for="UiControlDisplayName">UiControlDisplayName</label>
            </div>
            <div class="row ms-1 me-1">
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-frm-input">
                    <input type="submit" value="Save" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
