@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>

<div class="col-lg-6 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
    <input class="form-input width-full" type="@Model.Value.UiControlTypeName" id="@Model.Value.UiControlTypeName@Model.Value.Id" placeholder=" " name="@Model.Value.UiControlTypeName@Model.Value.Id" item.IsRequired onchange="this.setAttribute('value',this.value)" />
    <label class="form-label" for="@Model.Value.UiControlDisplayName">@Model.Value.UiControlDisplayName</label>
    <span asp-validation-for="@Model.Value.UiControlDisplayName" class="text-danger"></span>
</div>