@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.LayoutDTO>

<div class="col-lg-6 col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-input">
    <input class="form-input width-full" type="file" name="@Model.Value.UiPageMetadata.UiControlDisplayName" id="image-@Model.Value.UiPageMetadata.Id" placeholder=" " onchange="validateForImages(this)" accept=".jpg, .jpeg, .JPG, .JPEG .PNG, .png,.xlsx,.XLSX,.pdf,.PDF">
    <label class="form-label" for="@Model.Value.UiPageMetadata.UiControlDisplayName">@Model.Value.UiPageMetadata.UiControlDisplayName</label>
    <span asp-validation-for="@Model.Value.UiPageMetadata.UiControlDisplayName" class="text-danger"></span>
</div>
<input type="hidden" id="@Model.Value.UiPageMetadata.UiControlTypeName@Model.Value.UiPageMetadata.Id"/>
<script>
    function validateForImages(input) {
        const fileSize = input.files[0].size / 1024 / 1024;
        var fileName = input.files[0].name;
        var fileExtension = fileName.split('.').pop();
        switch (fileExtension) {
            case 'jpg':
                break;
            case 'JPG':
                break;
            case 'JPEG':
                break;
            case 'jpeg':
                break;
            case 'png':
                break;
            case 'PNG':
                break;
            case 'XlSX':
                break;
            case 'xlsx':
                break;
            case 'pdf':
                break;
            case 'PDF':
                break;
            default:
                alert('Wrong File Type!');
                $(input).val('');
                break;
        }
        var file = new FormData();
        file.append("raj", input.files[0]);
        $.ajax({
            type: "POST",
            url: "@Url.Action("FileUpload","Common")",
            contentType: false, 
            processData: false,
            data: file,
            success: function (response) {
                var modelData = JSON.parse('@Json.Serialize(Model)');
                var idNum = "#" + modelData.value.uiPageMetadata.uiControlTypeName + modelData.value.uiPageMetadata.id;
                $(idNum).val(response);
            },
            error: function (req, status, error) {
            }
        });
    }
</script>