@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO
@{
    ViewData["Title"] = "Edit";
}
<h1>Ui Page Metadata</h1>
<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageMetadata" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="UiPageTypeId" class="form-label"></label>
                    <select class="form-input " name="UiPageTypeId" id="uipageonType" onchange="this.setAttribute('value',this.value)" asp-for="UiPageTypeId">
                        @foreach (var item in ViewBag.UiPageTypes)
                        {
                            if (@item.Id == @ViewBag.UiPageTypeId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="UiControlTypeId" class="form-label"></label>
                    <select class="form-input " name="UiControlTypeId" id="uiconType" onchange="this.setAttribute('value',this.value)" asp-for="UiControlTypeId">
                        @foreach (var item in ViewBag.UiControlTypes)
                        {
                            if (@item.Id == @ViewBag.UiControlTypeId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="LookupCategoryId" class="form-label"></label>
                    <select class="form-input " name="ControlCategoryId" id="lookupCategoryId" onchange="category(this)" asp-for="ControlCategoryId">
                        @foreach (var item in ViewBag.LookupCategory)
                        {
                            if (@item.Id == @ViewBag.LookupCategoryId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <select id="dropDownList" hidden name="SelectedLookupId" multiple asp-for="SelectedLookupId"></select>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <input type="text" class="form-input " id="multiSelectLookup" placeholder="Select Metadata Charactr.." autocomplete="off" />
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="DataTypeId" class="form-label"></label>
                    <select class="form-input" name="DataTypeId" id="uidataType" onchange="this.setAttribute('value',this.value)" asp-for="DataTypeId">
                        @foreach (var item in ViewBag.DataTypes)
                        {
                            if (@item.Id == @ViewBag.DataTypeId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="row ms-1 me-1">
                    <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsRequired" /> @Html.DisplayNameFor(model => model.IsRequired)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                    <input class="form-input width-full" type="text" id="UiControlDisplayName" name="UiControlDisplayName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="UiControlDisplayName">
                    <label class="form-label" for="UiControlDisplayName">UiControlDisplayName</label>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input">
                    <input type="submit" value="Save" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var categoryId = @ViewBag.LookupCategoryId;
    var comboTree1;
    var count = 0;
    $(document).ready(function () {

        if (count == 0) {
            debugger;
                category(categoryId);
                console.log(categoryId);
            
        }
    });
    function category(categoryInput) {
        if (count != 0 ) {
            console.log(this);
            var categoryInput = categoryInput.value;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("LookupByCategory","Lookup")",
            data: { categoryName: categoryInput },
            success: function (response) {
                LookupByCategory(response);
                count++;
            },
            error: function (req, status, error) {
            }
        });
    }
    function LookupByCategory(inp) {
        if (count == 0 ) {
            var selectedListId = @ViewBag.SelectedList;
            comboTree1 = $('#multiSelectLookup').comboTree({
                source: inp,
                isMultiple: true,
                cascadeSelect: false,
                collapse: true,
                selectableLastNode: true
            });
            comboTree1.setSelection(selectedListId);
        } else {
            comboTree1.setSource(inp);
        }
    }
    $('#pageForm').on('submit', function () {

        var selectedIds = comboTree1.getSelectedIds();
        console.log(selectedIds);
        for (i = 0; i < selectedIds.length; i++) {
            console.log(selectedIds[i]);
            $('#dropDownList').append("<option selected value='" + selectedIds[i] + "'> temp</option>");
        }
        return true;
    });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
