@model TestingAndCalibrationLabs.Web.UI.Models.QueryBuilderRecordDTO
<link rel="stylesheet" href="https://cdn.korzh.com/eq/7.2.0/eq.core.min.css">
<link rel="stylesheet" href="~/css/QueryBuilder.css" />


<h1>Query Builder</h1>

<div class="container">

    <div id="eqv-content">
        <div class="eqv-header-panel">
            <div class="eqv-entities-block">
                <hr class="eqv-entities-hr eqv-hr">
                <div class="eqv-entities-title">Entities</div>
                <div class="eqv-entities-panel-container">
                    <div id="EntitiesPanel" onselectstart="return false" class="eqjs-ep-panel eqjs-mobile">
                        <div class="eqjs-ep-entity eqjs-mobile" style="top:0px" id="LeftPanel">

                            @*yaha tak ka cllss*@

                            <div class="eqjs-ep-entity-children eqjs-mobile">
                                @foreach (var item in Model.FieldValues)
                                {

                                    @*this is for title part*@
                                    <div class="eqjs-ep-entity-node eqjs-mobile">
                                        <div class="eqjs-ep-entity-node-button" onclick="DropdownContent('@item.Key.tableName')"></div>
                                        <label class="eqjs-ep-entity-node-label">
                                            <input type="checkbox" name="@item.Key.tableName" value="@item.Key.tableName" class="Parent-item" id="@item.Key.tableName" onclick="FunctionBox('@item.Key.tableName','@item.Value.Count')"> @Html.DisplayFor(tables => item.Key.tableName)
                                        </label>
                                    </div>
                                    <div class="eqjs-ep-entity-children eqjs-mobile" id="flush-@item.Key.tableName" style="display:none">
                                        @for (var pos = 0; pos < item.Value.Count; pos++)
                                        {

                                            <div class="eqjs-ep-entity-attr">
                                                <label class="eqjs-ep-entity-attr-label">
                                                    <div class="eqjs-ep-entity-offset" style="width:30px;"></div>
                                                    <input type="checkbox" class="child-item" name="@item.Key.tableName" id="@item.Key.tableName@pos" value="@item.Value[pos].coloumnName" />@Html.DisplayFor(colNames =>@item.Value[pos].coloumnName)
                                                </label>
                                            </div>

                                        }
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="eqjs-ep-tool-panel eqjs-mobile">
                            <div class="eqjs-ep-tool-panel-left-side">
                                <div class="eqjs-ep-tool-panel-deselect-all" title="Clear selection"></div>
                            </div>
                            <div class="eqjs-ep-tool-panel-right-side">
                                <div class="eqjs-ep-tool-panel-add-columns" title="Add column(s)" onclick="CheckboxContent()"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="eqv-central-block">

                <div class="eqv-columns-block">
                    <hr class="eqv-columns-hr eqv-hr" />
                    <div class="eqv-columns-title">Columns</div>
                    <div class="eqv-columns-panel-container">

                        <div id="ColumnsPanel" class="eqjs-qc-panel">
                            <div class="eqjs-qc-header" style="display:block">
                                <div class="eqjs-qc-header-expression">Expression</div>
                                <div class="eqjs-qc-header-title">Title</div>
                            </div>
                            <div class="eqjs-qc-columns" id="ColumnData">
                            </div>

                            <div class="eqjs-addrow eqjs-qc-addrow eqjs-addrow-empty eqjs-mobile">
                                <a href="javascript:void(0)">[Add new column]</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="eqv-conditions-block">
                    <hr class="eqv-conditions-hr eqv-hr">
                    <div class="eqv-conditions-title">Conditions</div>
                    <div class="eqv-query-panel-container">
                        <div id="queryPanel" class="eqjs-qp-panel eqjs-mobile">
                            <div data-group>
                                <div class="eqjs-qp-row eqjs-qp-row-group eqjs-qp-row-group-root" data-group-row="">
                                    <span class="eqjs-qp-grelement">Select records where </span>
                                    <a href="javascript:void(0)" onclick="ConditionAll(this)" title="all" class="eqjs-qp-grelement" id="conditionValue">all</a>
                                    <span class="eqjs-qp-grelement"> of the following apply</span>
                                    <div class="eqjs-qp-condition-buttonsBlock">
                                        <div class="eqjs-qp-button-placeholder" data-btnplaceholder="">
                                            <div class="eqjs-qp-condition-button eqjs-qp-condition-button-addCondition" tabindex="0" data-button="" title="Add condition"></div>
                                        </div>
                                        <div class="eqjs-qp-button-placeholder" data-btnplaceholder="">
                                            <div class="eqjs-qp-condition-button eqjs-qp-condition-button-addPredicate" tabindex="0" data-button="" title="Add group of conditions"></div>
                                        </div>
                                    </div>
                                    <div class="eqjs-qp-conditions null eqjs-qp-conditions-root" data-conditions=""></div>
                                </div>
                                <div class="eqjs-qp-conditions null eqjs-qp-conditions-root" id="condition-data">
                                </div>
                            </div>
                            <div class="eqjs-addrow eqjs-qp-addrow eqjs-mobile">
                                <a href="javascript:void(0)" onclick="NewConditionMenu(this)" title="[Add new condition]">[Add new condition]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eqv-menu-block">
                <hr class="eqv-menu-hr eqv-hr">
                <div class="eqv-menu-title">Query Menu</div>
                <div class="eqv-menu-content">
                    @*New Query button*@
                    <div id="QueryNameLabel" class="eqjs-query-name eqjs-mobile">
                        <div class="eqjs-query-name-text eqjs-query-name-theme">[New query]</div>
                        <span class="eqjs-query-name-asterisk" style="visibility: visible;">*</span>
                        <span class="eqjs-query-name-tooltip eqjs-query-name-theme">[New query]</span>
                    </div>
                    <a id="ClearQueryButton" class="eqv-button">Clear</a>
                    <div class="eqv-dropdown-container">
                        <a id="LoadQueryButton" class="eqv-button eqv-drop-button">Load <span style="float: right">▼</span></a>
                        <div class="eqv-dropdown-content">
                        </div>
                    </div>
                    <a class="eqv-button">Preview Data</a>
                    <a class="eqv-button" onclick="DataToModel()">Save Query</a>
                    <div id="ChangeLocale">
                        <select class="eqv-select">
                            <option value="en-US">English - English</option>
                            <option value="ru">Russian - русский</option>
                            <option value="es">Spanish - español</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="eqv-bottom-panel">
            <div class="eqv-result-panel">
                <hr class="eqv-result-panel-hr eqv-hr">
                <div class="eqv-result-panel-title">
                    Result
                    <span id="ResultCount" style="display:none; margin-left:20px; font-size:small"></span>
                    <span class="eqv-export-buttons">
                        <a class="eqjs-export eqjs-disabled" href="javascript:void(0)" data-format="excel">Export to Excel</a>
                        <a class="eqjs-export eqjs-disabled" href="javascript:void(0)" data-format="pdf">Export to PDF</a>
                        <a class="eqjs-export eqjs-disabled" href="javascript:void(0)" data-format="excel-html">Export to HTML (Excel-compatible)</a>
                        <a class="eqjs-export eqjs-disabled" href="javascript:void(0)" data-format="csv">Export to CSV</a>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>



<script>

    var Key = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FieldValues.Keys));
    var KeyValues = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FieldValues.Values));

    function DataToModel() {
        var dataDetail = document.getElementById('ColumnData');
        var datainfo = {};

        for (var item = 0; item < dataDetail.children.length; item++) {

            var details = dataDetail.children[item].children[2].innerText;
            var value = details.split(' ')[0];

            var info = details.split(' ')[1];
            if (datainfo[value]) {

                datainfo[value].push(info);

            } else {

                datainfo[value] = [];
                datainfo[value].push(info);
            }


        }



        const emptydata = Object.entries(datainfo);
        var QueryJson = "{ 'head': {  'tables': [      {       'type': 'select',   'tableName': " + '"' + emptydata[0][0] + '"'+ ",    'column': [";

        let column = "";
        for (var item = 0; item < emptydata.length; item++) {
            for (var item2 = 0; item2 < emptydata[0][1].length; item2++) {
                column = column + "{'columnName': " + '"' + emptydata[0][1][item2] + '"' + "},";

            }
        }
        column = column.slice(0, -1);
        column= column+"]";
        var QueryJsonEnd = " } ] } }";
        QueryJson = QueryJson+ column + QueryJsonEnd;
       


          //var jsonString = JSON.stringify(datainfo);
          //////  const listOfArrays = datainfo.map(obj => [...obj.values]);
          ////  debugger;
            $.ajax({
                url: 'JsonToSqlConverter/Index',
            data: { QueryJson:QueryJson },
                success: function (response) {
                    alert('good work bro ') // Handle the response from the function
                },
                error: function (xhr, status, error) {
                    alert('bad work bro');// Handle any errors that occur during the AJAX request
                }
            });



        }
</script>
<script src="~/js/QueryBuilder.js"></script>
<div class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 721px; top: 193px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: auto;">
        <div class="eqjs-menu-itemDiv" onclick="AggregateFunctionAdd(1)">Count</div>
        <div class="eqjs-menu-itemDiv" onclick="AggregateFunctionAdd(2)">Distinct count</div>
        <div class="eqjs-menu-itemDiv" onclick="AggregateFunctionAdd(3)">Minimum</div>
        <div class="eqjs-menu-itemDiv" onclick="AggregateFunctionAdd(4)">Maximum</div>
        <div class="eqjs-menu-itemDiv"><hr></div>
        <div class="eqjs-menu-itemDiv" onclick="AggregateFunctionAdd(5)">Custom Expression</div>
    </div>
</div>

<div id="ColumnsPanel-SortMenu" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 280px; top: 193px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: auto;">
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(0)">Not sorted</div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(1)">Ascending</div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(2)">Descending</div>
        <div class="eqjs-menu-itemDiv"><hr></div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(3)">Move to the first</div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(4)">Move to the previous</div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(5)">Move to the next</div>
        <div class="eqjs-menu-itemDiv" onclick="ExpressionPositioning(6)">Move to the last</div>
    </div>
</div>
<div id="DataTypeMenu" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 614px; top: 189px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: auto;">
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Unknown</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">String</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Byte</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Word</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Int32</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Int64</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Bool</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Float</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Currency</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">BCD</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Date</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Time</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">DateTime</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Autoinc</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Memo</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Blob</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">FixedChar</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Guid</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Geometry</div>
        <div class="eqjs-menu-itemDiv" onclick="DataTypeMenuFunc(this)">Geography</div>
    </div>
</div>


<div id="QueryPanel-LinkTypeMenu" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 500px; top: 365px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: auto;">
        <div class="eqjs-menu-itemDiv" onclick="ConditionADD(this)">all</div>
        <div class="eqjs-menu-itemDiv" onclick="ConditionADD(this)">any</div>
        <div class="eqjs-menu-itemDiv" onclick="ConditionADD(this)">none</div>
        <div class="eqjs-menu-itemDiv" onclick="ConditionADD(this)">not all</div>
    </div>
</div>


<div id="QueryPanel-EntitiesMenu" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow-y:  auto; position: relative; width: auto; height: 200px;"></div>
</div>

<div id="QueryPanel-EntitiesMenu-children" class="eqjs-menu-levelDiv" style="position: absolute; display: none; ">
    <div tabindex="1" class="eqjs-menu-scrollDiv" id="" style="overflow-y: auto; position: relative; width: auto; max-height: 200px;"></div>
</div>


@*Condition Dropdown*@
<div id="Query-Dropdown" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 502px; top: 383px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: 383px;">
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">starts with</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">contains</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is equal to</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is in list</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">does not start with</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">does not contain</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is not equal to</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is not in list</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">in sub query</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">not in sub query</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is null</div>
        <div class="eqjs-menu-itemDiv" onclick="QueryCondition(this.innerText)">is not null</div>
    </div>
</div>

<div id="QueryPanel-ConditionMenu" class="eqjs-menu-rootLevel eqjs-menu-levelDiv" style="position: absolute; display: none; visibility: visible; left: 1018px; top: 395px; z-index: 10000; font-size: 14px;">
    <div tabindex="1" class="eqjs-menu-scrollDiv" style="overflow: hidden auto; position: relative; width: auto; height: auto;">
        <div class="eqjs-menu-itemDiv eqjs-menu-selected">Enabled</div>
        <div class="eqjs-menu-itemDiv" onclick="ButtonBlockMenufunction(2)">Delete</div>
        <div class="eqjs-menu-itemDiv"><hr></div>
        <div class="eqjs-menu-itemDiv">Parameterized</div>
        <div class="eqjs-menu-itemDiv">Use in JOIN</div>
    </div>
</div>