@model TestingAndCalibrationLabs.Web.UI.Models.GroupClaimDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Permission</h4>

    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimTypeName)
        </dt>

        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.ClaimTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionName)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.PermissionName)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
