@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
<div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-frm-input">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="@Model.Value.UiControlDisplayName" type="checkbox" value="false" id="checkbox-@Model.Value.Id" />
        <label class="form-check-label" for="@Model.Value.UiControlDisplayName">
            @Model.Value.UiControlDisplayName@if (Model.Value.IsRequired)
            {
                <span class="red-color">*</span>
            }
        </label>
    </div>
</div>

<input type="hidden" id="@Model.Value.UiControlTypeName@Model.Value.Id">
<script>
    var modelData = JSON.parse('@Json.Serialize(Model)');
    var checkboxVal = "#" + modelData.value.uiControlTypeName + modelData.value.id;
    var checkboxwithoutHash = modelData.value.uiControlTypeName + modelData.value.id;
    var idNum = "#checkbox-" + modelData.value.id;
    var count = 0;
    $(checkboxVal).on('change', function () {
        if (count == 0) {
            var actionName = $('#actionNameCommon').val();
            if (actionName == "Edit") {
                debugger;
                var checkboxValue = $(checkboxVal).val();
                alert(checkboxValue);
                if (checkboxValue == "true") {
                    $(idNum).prop('checked', true);
                }
            } else {
                $(checkboxVal).text($(idNum).val());
            }
            count++;
        }
    });
    $(idNum).on('change', function () {
        if ($(idNum).is(':checked')) {
            //$(idNum).attr('value', 'true');
            document.getElementById(checkboxwithoutHash).value = "true";
        } else {
            // $(idNum).attr('value', 'false');
            document.getElementById(checkboxwithoutHash).value = "false";
        }
        //$(checkboxVal).text($(idNum).val());
    });

</script>