@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--From here Grid will starts-->
<div class="border width-full" style="margin:0;padding:0;border-bottom:2px solid !important;">
    <div class="row mb-1">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 mt-2">
            <h2 class="mb-2 ms-1 me-1" style="padding:0px 12px;">Test Details</h2>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 mt-3">
            <div class="inputSearchGrid text-right">
                <input type="text" id="TestDetailsGridSearch" onkeyup="function()" class="light-table-filter inputWithIconSearch " data-table="table-info" placeholder="Search">
                <i class="fa fa-solid fa-magnifying-glass iconForSearchLeft"></i>
                <i class="fa fa-solid fa-xmark iconForSearchRight" onclick="clearText()"></i>
            </div>
        </div>
    </div>
    <div class="table-responsive simple-pagination card shadow border-radius-grid">
        <table id="testDetailsGrid" class="table table-striped dt-responsive nowrap cell-border" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @foreach (var teamName in @ViewBag.TableHeaddings)
                    {
                        <th>@teamName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var temp in Model)
                {
                    <tr>
                        <td><i class="fa fa-solid fa-pen" style="margin:5px;margin-right:10px;"></i><i class="fa fa-solid fa-trash" style="margin:5px;margin-left:10px;"></i></td>
                        <td>@temp.SampleType</td>
                        <td>@temp.SampleDetails</td>
                        <td>@temp.DateOfTP</td>
                        <td>@temp.JobCode</td>
                        <td>@temp.SampleId</td>
                        <td>@temp.NumberOfSampleQuantity</td>
                        <td>@temp.TestName</td>
                        <td>@temp.TestMethod</td>
                        <td>@temp.PersonAuthorized</td>
                        <td>@temp.ReceivedOn</td>
                        <td>@temp.TargedOn</td>
                        <td>@temp.CompletedOn</td>
                        <td>@temp.Remarks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
 oTable = $('#testDetailsGrid').DataTable({
        pageLength: 5,
        scrollX: true,
    });
    $('#TestDetailsGridSearch').keyup(function() {
        oTable.search($(this).val()).draw();
    })
    const clearText = () => {
        const inputID = document.querySelector("#TestDetailsGridSearch");
        inputID.value = "";
    }
</script>