@model TestingAndCalibrationLabs.Web.UI.Models.RecordsDTO
<div class="border width-full" style="margin:0;padding:0;border-bottom:2px solid !important;">
    <div class="row mb-1">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 mt-2">
            <h2 class="mb-2 ms-1 me-1" style="padding:0px 12px;">@Model.Fields.First().UiPageTypeName</h2>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 mt-3">
            <div class="inputSearchGrid text-right">
                <input type="text" id="TestDetailsGridSearch" onkeyup="function()" class="light-table-filter inputWithIconSearch " data-table="table-info" placeholder="Search">
                <i class="fa fa-solid fa-magnifying-glass iconForSearchLeft"></i>
                <i class="fa fa-solid fa-xmark iconForSearchRight" onclick="clearText()"></i>
            </div>
        </div>
    </div>
    <div class="table-responsive simple-pagination card shadow border-radius-grid">
        <table id="testDetailsGrid" class="table table-striped dt-responsive nowrap cell-border" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @foreach (var item in Model.Fields)
                    {
                        <th> @Html.DisplayFor(fieldItem => item.UiControlDisplayName)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FieldValues)
                {
                    <tr>
                         @foreach (var itemValue in item.Value)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => itemValue.Value)
                            </td>
                        }
                        <td><a class="fa fa-solid fa-pen col" style="margin:5px;margin-right:10px;" asp-controller="Common" asp-action="Edit" asp-route-id="@item.Key" >

                            </a><a class="fa fa-solid fa-trash col" style="margin:5px;margin-left:10px;" asp-controller="Common" asp-action="Edit" asp-route-id="@item.Key"></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    oTable = $('#testDetailsGrid').DataTable({
        pageLength: 5,
        scrollX: true,
    });
    $('#TestDetailsGridSearch').keyup(function () {
        oTable.search($(this).val()).draw();
    })
    const clearText = () => {
        const inputID = document.querySelector("#TestDetailsGridSearch");
        inputID.value = "";
    }
</script>