@model TestingAndCalibrationLabs.Business.Common.Node<TestingAndCalibrationLabs.Business.Core.Model.UiPageMetadataModel>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        @foreach (var item in Model.Children)
        {
            if (Model.Children.First() == item)
            {
                <button class="nav-link active" id="nav-@item.Value.Id-tab" data-bs-toggle="tab" data-bs-target="#nav-@item.Value.Id" type="button" role="tab" aria-controls="nav-@item.Value.Id" aria-selected="false">@item.Value.UiControlDisplayName</button>
            }
            else
            {
                <button class="nav-link " id="nav-@item.Value.Id-tab" data-bs-toggle="tab" data-bs-target="#nav-@item.Value.Id" type="button" role="tab" aria-controls="nav-@item.Value.Id" aria-selected="false">@item.Value.UiControlDisplayName</button>
            }
        }

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">

    @foreach (var item in Model.Children)
    {
        @if (Model.Children.First() == item)
        {
            <div class="tab-pane fade show active " id="nav-@item.Value.Id" role="tabpanel" aria-labelledby="nav-@item.Value.Id-tab">
                @foreach (var node in item.Children)
                {
                    @if (node.Value.ControlCategoryName == "DataControl")
                    {
                        @Html.Partial("~/Views/Common/Components/_dataControls.cshtml",node )
                    }
                    else if (@node.Value.ControlCategoryName == "NonDataControl")
                    {
                        @Html.Partial("~/Views/Common/Components/_nondataControl.cshtml",node)
                    }
                }
            </div>
        }
        else
        {
            <div class="tab-pane fade " id="nav-@item.Value.Id" role="tabpanel" aria-labelledby="nav-@item.Value.Id-tab">
                @foreach (var node in item.Children)
                {
                    @if (node.Value.ControlCategoryName == "DataControl")
                    {
                        @Html.Partial("~/Views/Common/Components/_dataControls.cshtml",node )
                    }
                    else if (@node.Value.ControlCategoryName == "NonDataControl")
                    {
                        @Html.Partial("~/Views/Common/Components/_nondataControl.cshtml",node)
                    }
                }
            </div>
        }
    }

</div>
