@model TestingAndCalibrationLabs.Web.UI.Models.UiPageControl.UiPageControlModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UiPageControlModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
             <label for="UiPageType">Select Page :</label>

            <select asp-for="UiPageTypeId">
               @foreach (var item in ViewBag.Page)
              {
                  
                      if (@item.PageId == @ViewBag.pid)
                  {
                      <option value=@item.PageId selected>@item.PageName</option>
                  }
                 
                 
                   <option value=@item.PageId>@item.PageName</option>
              }
            </select>
           
            <label for="UiControlType">Select Control :</label>

            <select asp-for="UiControlTypeId">
               @foreach (var item in ViewBag.Control)
              {
                  
                 
                 
                 
                   <option value=@item.ControlId>@item.ControlName</option>
                   if (@item.ControlId==@ViewBag.cid)
                   {
                       <option value=@item.ControlId selected>@item.ControlName</option>
                       
                   }
                   
                   
              }
            </select>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRequired" /> @Html.DisplayNameFor(model => model.IsRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UiControlDisplayName" class="control-label"></label>
                <input asp-for="UiControlDisplayName" class="form-control" />
                <span asp-validation-for="UiControlDisplayName" class="text-danger"></span>
            </div>
          
            <label for="UiDataType">Select Data :</label>

            <select asp-for="UiDataTypeId">
               @foreach (var item in ViewBag.Data)
              {
                  
                      if (@item.DataId == @ViewBag.did)
                  {
                      <option value=@item.DataId selected>@item.DataName</option>
                  }
                 
                 
                   <option value=@item.DataId>@item.DataName</option>
              }
              </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
