@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.LayoutDTO>
@if(Model.Value.UiPageMetadata.MultiValueControl == false)
{
<div class="row ms-1 me-1">
    <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
        <input class="form-input width-full black-border" type="text" id="@Model.Value.UiPageMetadata.UiControlTypeName@Model.Value.UiPageMetadata.Id" name="@Model.Value.UiPageMetadata.UiControlTypeName@Model.Value.UiPageMetadata.Id" placeholder=" " onchange="this.setAttribute('value',this.value)" />
        <label class="form-label" for="@Model.Value.UiPageMetadata.UiControlDisplayName">@Model.Value.UiPageMetadata.UiControlDisplayName</label>
        @*<span asp-validation-for="@Model.Value.UiPageMetadata.UiControlDisplayName" class="text-danger"></span>*@
    </div>
</div>
}else{
   
}
<script>
    $(document).ready(function () {
        var modelData = JSON.parse('@Json.Serialize(Model)');
        var uiPageData = modelData.value.uiPageData;
        var idOfRecord = $("#Id").val();
        if (idOfRecord != undefined && uiPageData != null) {
            var lookupCategoryId = modelData.value.uiPageMetadata.moduleId;
           
            var id = "#" + modelData.value.uiPageMetadata.uiControlTypeName + modelData.value.uiPageMetadata.id;
            var val = uiPageData.value;
            $(id).val(val);
        }
    });
</script>
