@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
<div class="col-lg-6 col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-input">
    <p>@Model.Value.UiControlDisplayName</p>
    <input type="hidden" id="@Model.Value.UiControlTypeName@Model.Value.Id" value="rad-@Model.Children.First().Value.Id"/>
    @foreach (var item in Model.Children)
    {
        @if (Model.Children.First() == item)
        {
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" onclick="setValueToParent(this)" type="radio" name="radio-@Model.Value.UiControlDisplayName" value="rad-@item.Value.Id" id="rad-@item.Value.Id">
                <label class="form-check-label" for="@item.Value.UiControlTypeName">
                    @item.Value.UiControlDisplayName
                </label>
            </div>
        }
        else
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" onclick="setValueToParent(this)" name="radio-@Model.Value.UiControlDisplayName" value="rad-@item.Value.Id" id="rad-@item.Value.Id">
                <label class="form-check-label" for="@item.Value.UiControlTypeName">
                    @item.Value.UiControlDisplayName
                </label>
            </div>
        }
    }
</div>
<script>
 var modelData = JSON.parse('@Json.Serialize(Model)');
    function setValueToParent(elementClicked) {
        var idNum = modelData.value.uiControlTypeName + modelData.value.id;
        document.getElementById(idNum).value = elementClicked.value;
    }
</script>