@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO
<div class="row ms-1 me-1">
    <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element left-pd-input">
        <input class="btn width-full" type="button" placeholder=" " id="@Model.UiControlTypeName@Model.Id" name="@Model.UiControlTypeName@Model.Id"  onchange="this.setAttribute('value',this.value)"/>
        <label class="form-label" for="@Model.UiControlDisplayName">@Model.UiControlDisplayName</label>
        <span asp-validation-for="@Model.UiControlDisplayName" class="text-danger"></span>
    </div>
</div>