@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
<div class="row ms-1 me-1">
    <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element left-pd-input">
        <input class="btn width-full" type="button" placeholder=" " id="@Model.Value.UiControlTypeName@Model.Value.Id" name="@Model.Value.UiControlTypeName@Model.Value.Id" onchange="this.setAttribute('value',this.value)" />
        <label class="form-label" for="@Model.Value.UiControlDisplayName">@Model.Value.UiControlDisplayName</label>
        <span asp-validation-for="@Model.Value.UiControlDisplayName" class="text-danger"></span>
    </div>
</div>