@model TestingAndCalibrationLabs.Web.UI.Models.UiPageNavigationDTO
@{
    ViewData["Title"] = "Edit";
}
<h1>Ui Page Navigation</h1>
<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageNavigation" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input" style="padding-left:10px; padding-bottom:5px;">
                    <input class="form-input width-full black-border" type="text" id="Url" name="Url" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Url">
                    <label class="form-label" for="Url">Url</label>
                </div>
               
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input" style="padding-left:10px; padding-bottom:5px;">

                    <select class="form-input width-full black-border " name="ModuleId" id="Module" onchange="this.setAttribute('value',this.value)" asp-for="ModuleId">

                        @foreach (var item in ViewBag.Module)
                        {
                        if (@item.Id == @ViewBag.ModuleId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }

                        }
                    </select>
                    <label for="Module" class="form-label">Module</label>
                </div>
              
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input" style="padding-left:10px; padding-bottom:5px;">

                    <select class="form-input width-full black-border " name="UiNavigationCategoryId" id="UiNavigationCategory" onchange="this.setAttribute('value',this.value)" asp-for="UiNavigationCategoryId">

                        @foreach (var item in ViewBag.UiNavigationCategory)
                        {
                            if (@item.Id == @ViewBag.UiNavigationCategoryId)
                            {
                                <option value=@item.Id selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item.Id>@item.Name</option>
                            }

                        }
                    </select>
                    <label for="UiNavigationCategory" class="form-label">UiNavigationCategory</label>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input" style=" margin-bottom:5px;">
                    <input type="submit" value="Save" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}